.root{
	-fx-background-image: url("UpdatedLogo.jpg");
        -fx-background-size:1000 850;
        -fx-background-repeat: stretch;
        
                
	}
.button{
	-fx-text-fill: black;
	-fx-font-family: "Arial Narrow";
	-fx-font-weight: bold;
     -fx-font-size: 50;
	 -fx-background-color: #C8D7D4;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover{
	 -fx-background-color: linear-gradient(#2E2E2E, #6E6E6E);
}